<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <section class="about" id="'about">
        <div class="about-img">
          <img src="./images/portfolio-pic-3.jpg" alt="" id="personal-pic">
        </div>
        <div class="about-content">
          <h2 class="heading"> About <span>Me</span></h2>
          <h3>Frontend Engineer</h3>
          <p>
            I am a Software Engineer who is fairly new in the field aside from a highschool course and a bootcamp that I'm
            partway in. My first exposure to computer science was watching my dad work and thinking it looked interesting,
            then I finally got my chance to experience it and realized that this was what I wanted for myself and my future.
            And starting since then I've been curious about computer science. its application, and how I could use them
            myself.
          </p>
    
        </div>
      </section>
</body>
</html>