<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <section class="home" id="home">
        <div class="home-content">
            <h3>Hello, It's Me</h3>
            <h1>Tevin Crite</h1>
            <h3>Come learn to cook with me</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, provident.
            </p>
            <div class="social-media">
                <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-instagram-alt'></i></a>
                <a href="#"><i class='bx bxl-linkedin-square'></i></a>
            </div>
        </div>

        <!-- <div class="home-img">
          <img src="./images/portfolio-pic-3.jpg" alt="" srcset="" id="personal-pic">
        </div>
     -->
    </section>

    <section class="recipes" id="recipes">
        <h2 class="heading">Our <span>recipes</span></h2>

        <div class="recipes-container">
            <div class="meat-recipes">

                <h3>Meat Dishes</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, deleniti.
                </p>
                <a href="meats" class="btn">Find recipes</a>
            </div>

            <div class="veggie-recipes">

                <h3>Veggie Dishes</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, laborum.
                </p>
                <a href="veggies" class="btn">Find recipes</a>
            </div>

            <div class="fruit-recipes">

                <h3>Fruit Dishes</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, sit!
                </p>
                <a href="fruits" class="btn">Find recipes</a>
            </div>
            <h1><a href="recipes.ejs">Recipes</a></h1>
        </div>
    </section>
</body>

</html>