<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="about" id="'about">
        <div class="about-img">
          <img src="./images/portfolio-pic-3.jpg" alt="" id="personal-pic">
        </div>
        <div class="about-content">
          <h2 class="heading"> About <span>Me</span></h2>
          
        </div>
      </section>

</body>
</html>