<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/meat.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Meats</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Foods</a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
          <Total of 5 a tags>
            <a href="Home" class="active">Home</a>
            <a href="about">About</a>
            <a href="veggies">Veggies</a>
            <a href="fruits">Fruits</a>
            <a href="#contact">Contact</a>
    
        </nav>
    </header>
    <section class="timeline">
        <div class="timeline-row">
            <div class="timeline-column">
                <h2 class="title">Meat<span class="animate" style="--i:1"></span></h2>
                <div class="timeline-box">
                    <% for ( let index=0; index < allMeats.length; index++ ) {%>

                        <% let meat = allMeats[index] %>
                            <div class="timeline-content">
                                <div class="content">
                                    <div class="year"><i class="bx bxs-calendar"></i>2021 - 2022</div>
                                    <h3><%= meat.name %></h3>
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id labore atque
                                        consequatur tempore exercitationem vitae, assumenda ea ex ipsam explicabo, neque
                                        tenetur pariatur at fugit?
                                    </p>
                                    <a href="./meats/<%= index %>">Checkout more...</a>
                                </div>
                            </div>
                            <div>
                            </div>
                            <% } %>

                            <span class="animate" style="--i:2"></span>
                </div>
            </div>

            <div class="timeline-column">
                <h2 class="title">More Meat<span class="animate" style="--i:1"></span></h2>
                <div class="timeline-box">
                    <% for ( let index=0; index < allMeats.length; index++ ) {%>

                        <% let meat = allMeats[index] %>
                            <div class="timeline-content">
                                <div class="content">
                                    <div class="year"><i class="bx bxs-calendar"></i>2021 - 2022</div>
                                    <h3><%= meat.name %></h3>
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id labore atque
                                        consequatur tempore exercitationem vitae, assumenda ea ex ipsam explicabo, neque
                                        tenetur pariatur at fugit?
                                    </p>
                                    <a href="./meats/<%= index %>">Checkout more...</a>
                                </div>
                            </div>
                            <div>
                            </div>
                            <% } %>

                            <span class="animate" style="--i:2"></span>
                </div>
            </div>
        </div>
    </section>
</body>
</html>